<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Real Civil Engineer Games Export</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/login-full-page-bs4.css">
    <link rel="stylesheet" href="assets/css/Search-Field-With-Icon.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <div class="container-fluid main-panel">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="login-panel" style="height: auto;width: auto;padding: 50px;">
                    <div class="login-user-avatar" style="filter: saturate(100%);"><img style="width: 100%;height: auto;border-radius: 50%;" src="https://yt3.ggpht.com/ytc/AKedOLSD05SDG-6NAZq0f6y4JcqWxqYMdU-5SblT6LWg=s176-c-k-c0x00ffffff-no-rj"></div>
                    <div class="login-form">
                        <form method="post">
                            <div class="form-group mb-3">
                                <h1 style="margin: 10px;margin-top: 10px;">Admin Login</h1>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group"><input class="form-control" type="password" name="password" required="" placeholder="Password"></div>
                            </div>
                            <div class="form-group mb-3"><input class="btn btn-primary d-block w-100" type="submit" value="Login"></div>
                        </form>
                    </div>
                    <div class="login-response has-error">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/login-full-page-bs4.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/login-full-page-bs4-1.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>